@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');

html {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif ;
}

a:visited {
  color: blue;
}

body {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.citation:hover {
  transition: 200ms;
  background-color: lightgray;
}

.footer {
  margin-top: 20px;
  height: 80px;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}